<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Git Demo</title>    
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>

    	<h1 id="divColor">
	    	{%if Environment_variable == "production" %}
	    		Production Server
	    	{%elif Environment_variable == "staging" %}
	    		Staging Server
	    	{%elif  Environment_variable == "development" %}
	    		Development Server
	    	{%else%}
	    		Local Server
	    	{%endif%}
		</h1>
    </body>
</html>